<header id="mainheader">
    <nav>
        <ul>
            <li><img src="https://mariemzaouali.github.io/assets/img/cake.svg" height="55" /></li>
            <li><a href="#">Home</a></li>
            <li><a href="#">Tous</a></li>
        </ul>
    </nav>
</header>

<style>
    
    #mainheader nav ul {
        display: flex; 
        list-style-type: none; 
        align-items: center; 
    }

    #mainheader nav ul li {
        margin-right: 20px; /
    }

    #mainheader nav ul li a {
        text-decoration: none; 
        font-size: 18px; 
        color: #000; 
    }
</style>
