<main id="main">
    <table border="1">
      <caption>Our delicious selection of cheesecakes!</caption>
      <thead>
        <tr>
          <th>Image</th>
          <th>Nom du cake</th>
          <th>Description</th>
          <th>Prix</th>
          <th>Détails</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><img src="assets/images/products/cheesecakesmall.jpg" width="100" /></td>
          <td>Cheese cake</td>
          <td>Un pur plaisir.</td>
          <td>12Dt</td>
          <td>Voir détails</td>
        </tr>
        <tr>
          <td><img src="assets/images/products/strawberrycheesecakesmall.jpg" width="100" /></td>
          <td>Strawberry Cheese Cake</td>
          <td>L'authentique</td>
          <td>13DT</td>
          <td>Voir détails</td>
        </tr>
      </tbody>
    </table>
  </main>
  
