<div style="width:1000px;margin-left: auto;margin-right: auto;">

    <main id="main">
      <figure>
        <img src="assets/cakes.jpg" width="600" alt="La vitrine de notre boutique" />
        <figcaption>Vitrine de la boutique Cake's shop</figcaption>
      </figure>
      <article>
        <header>
          <h1 style="font-size:35px;color:#a593c2">Bienvenue à notre boutique !</h1>
        </header>
        <h2>Notre histoire</h2>
        <p>
          Pendant de nombreuses années, Cake Shop a préparé les gâteaux les plus délicieux chez eux en Tunisie...
        </p>
        <hr />
        <section id="promos">
          <h3 style="font-family:verdana;">&nbsp;Nos promotions hebdomadaire</h3>
          <h4>Cheese cake</h4>
          0dt - 4 personnes<br />
          <img src="assets/cheesecake.jpeg" width="500" alt="Cheesecake avec caramel" height="300" />
        </section>
      </article>
      <button (click)="save()">J'aime</button>
      <span id="favorite">{{ favoriteMessage }}</span>
    </main>
  </div>
  